body {
    background-color: maroon;
}

h1 {
    text-align: center;
    font-family: 'Poiret One', cursive;
    color: white;
    font-size: 50px;
}

div {
    text-align: center;
    font-family: 'Poiret One', cursive;
    color: white;
    font-size: 20px;
    padding: 0px 10px;
}

h3 {
    font-family: 'Poiret One', cursive;
    text-align: center;
    color: white;
}

h4 {
    font-family: 'Poiret One', cursive;
    text-align: center;
    color: white;
    padding: 10px 30px 10px 30px;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0px 0px 0px;
}

#hit-stand-controls {
    padding: 0px 0px 40px 0px;
}

#dealer-section {
    border: 1px solid white;
    margin: 50px 275px 50px 275px;
    padding: 50px 50px 50px 50px;
}

#player-section {
    border: 1px solid white;
    margin: 50px 275px 50px 275px;
    padding: 50px 50px 50px 50px;
}

#bet-deal-controls {
    padding: 0px 0px 0px 0px;
}

.fivechip {
    background-image: url('https://i.imgur.com/hMTlUlP.png');
}

.tenchip {
    background-image: url('https://i.imgur.com/0eXBMzu.png');
}

.hunchip {
    background-image: url('https://i.imgur.com/Y2mZAbe.png');
}

.chip {
    height: 60px;
    width: 60px;
    background-size: 100% auto;
    color: white;
    padding: 15px;
    background-color: maroon;
    border-color: maroon;
    background-repeat: no-repeat;
}